<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a beast to your profile :</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(beast) do |f| %>
          <%= f.input :name %>
          <%= f.input :gender, collection: %w(male female) %>
          <%= f.input :species, collection: %w(Quadruped Fish Bird Mollusc Insect Monkey) %>
          <%= f.input :bio %>
          <%= f.input :date_of_birth, html5: true %>
          <%= f.input :photos, as: :file, input_html: { multiple: true} %>
          <%= f.submit %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save your beast</button>
      </div>
    </div>
  </div>
</div>
