<div class="sticky-navbar">
  <div class="navbar-wrapper px-5 py-3">


      <nav class="navbar">
        <%= link_to "airbnbeast", root_path, class: 'brand-logo' %>

        <%= render "pages/dropdown_user", user: @user %>
      </nav>

    <div class="search-wrapper">
      <div class="searchbar py-3 ps-5 pe-3 w-100">

        <div class="border-right search-items pe-4">
          <label for="">Animal breed</label>
          <input type="text" class="border-0"  placeholder="How much do you want to suffer?">
        </div>

        <div class="border-right search-items px-4 border-start border-end">
          <label for="">Arrival date</label>
          <input type="text" class="border-0"  placeholder="When?">
        </div>

        <div class="border-right search-items px-4">
          <label for="">Departure date</label>
          <input type="text" class="border-0" placeholder="If you are still alive...">
        </div>

        <a href="#" class="btn rounded-green-btn d-flex align-items-center justify-content-center">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>

      </div>
    </div>
  </div>
</div>

<div class="site-content">
  <div class="beasts-list ps-5 pe-5 col-7">

    <h3 class="index-title">Ranking by relevance</h3>

      <% if @beasts %>
      <% @beasts.each do |beast| %>

        <%= link_to beast_path(beast) do %>
          <div class="beast-card card my-4 d-flex flex-row">
            <%= cl_image_tag beast.photos.first.key, class: "img-placeholder", style: "background-image", crop: :fill %>
            <div class="card-infos ms-4 d-flex justify-content-between flex-column">
              <div class="top-card">
                <h6>Species: <%= beast.species %> - Owner: <%= beast.user.first_name.capitalize %></h6>
                <h3><%= beast.name.capitalize %></h3>
              </div>

              <div class="middle-card">
                <p>Date of birth: <%=beast.date_of_birth %></p>
                <p>Paris, France</p>
                <p>Bio: "<%= beast.bio %>"</p>
              </div>

              <div class="reviews d-flex align-items-center">
                <i class="fa-solid fa-star"></i>
                <p class="review mx-2 py-2 my-0">
                  <span class="note">4.88</span> • (34 reviews)
                </p>
              </div>

            </div>
          </div>
          <hr>
        <% end %>

      <%end %>
      <% else %>
        <div class="top-card">
          <h3>Well, there's no one here, sorry...</h3>
        </div>
      <% end %>

  </div>

<div
  class="map col-5 ms-5"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
