  <div class="sticky-navbar">
    <div class="navbar-wrapper px-5 py-3">


        <nav class="navbar">
          <%= link_to "airbnbeast", root_path, class: 'brand-logo' %>
          <%= render "pages/dropdown_user", user: @user %>
        </nav>

      <div class="search-wrapper">
        <div class="searchbar py-3 ps-5 pe-3 w-100">

          <div class="border-right search-items pe-4">
            <label for="">Animal breed</label>
            <input type="text" class="border-0"  placeholder="How much do you want to suffer?">
          </div>

          <div class="border-right search-items px-4 border-start border-end">
            <label for="">Arrival date</label>
            <input type="text" class="border-0"  placeholder="When?">
          </div>

          <div class="border-right search-items px-4">
            <label for="">Departure date</label>
            <input type="text" class="border-0" placeholder="If you are still alive...">
          </div>

          <a href="#" class="btn rounded-green-btn d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-magnifying-glass"></i>
          </a>

        </div>
      </div>
    </div>
  </div>

<div class="container mt-3 pt-3">
  <div class="header-show">

    <h3>Look how cute is <%= @beast.name %>! Want to pet it?</h3>

    <div class="reviews d-flex mb-5 align-items-center">
      <i class="fa-solid fa-star"></i>
      <p class="review mx-2 py-2 my-0">
        <span class="note">4.88</span> • (34 reviews) •
        <span id="location">Location: Paris, France</span>
      </p>
    </div>
  </div>

  <div class="show-content d-flex">

    <div class="col-7 me-4">
      <% @beast.photos.each do |photo| %>
        <%= cl_image_tag photo.key, crop: :fill, class: "image-show" %>
      <% end %>
    </div>

    <div class="calendar-card col-5">
      <h4 class="my-3">Add dates to see the price</h4>
      <%= simple_form_for [@beast, @rental] do |f| %>
        <div class="d-flex justify-content-between">
          <div class="border rounded p-2 me-1 col-6">
            <%= f.input :start_date, label: "Start date", placeholder: 'When?', html5: true%>
          </div>
          <div class="border rounded p-2 col-6">
            <%= f.input :end_date, html5: true %>
          </div>
        </div>
        <%= f.button :submit, label: "End date", class: "btn-submit-green"%>
      <% end %>
    </div>
  </div>

  <div class="owner-section my-5 col-6">
    <h4>Owner: John Doe</h4>
    <hr>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur quam amet recusandae facilis modi sed dignissimos corporis pariatur nam praesentium? Assumenda minus veritatis hic similique molestiae nulla facilis doloremque suscipit?</p>
  </div>
  <br>
</div>


<footer class="footer mt-5 w-100">
  <div class="top">
    <p>Ready for an unforgettable experience?</p>
    <h2>Sign up now!</h2>
    <a href="#" class="btn btn-default my-4">Get me in!</a>
  </div>
  <p>Copyright © 2022. airbnbeast. All rights reserved.</p>
</footer>
