<h1><%= @beast.name %></h1>
<h6><%= link_to 'Destroy', @beast, method: :delete, data: { confirm: 'Are you shure you want to remove your beast from the list ?'} %></h6>
<h6><%= link_to 'Edit', edit_beast_path(@beast) %></h6>
<h2>
<span>
<%= @beast.species %> -
</span>
<span>
<%= @beast.gender %>
</span>
</h2>
<p>
  <%= @beast.bio %>
</p>

<h6><%= link_to 'back to list', beasts_path %></h6>
