<% if user_signed_in? %>
  <div class="dropdown">
    <button class="btn btn-dropdown " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <span><%= user.first_name %></span> <span class="me-2"><%= user.last_name %></span>
        <%= cl_image_tag user.photo.key, :gravity=>"face", :height=>40, :radius=>30, :width=>40, :crop=>"fill", class: "avatar" %>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <%= link_to "my dashboard", dashboard_path, class:"dropdown-item" %>
        <%= link_to "my profile", edit_user_registration_path, class:"dropdown-item" %>
      <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalNewBeast">
        add new beast
      </button>
        <%= link_to "log out", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
    </ul>
  </div>

<% else %>
  <%= link_to "log in", new_user_session_path, class:"no-avatar" %>
<% end %>
