<!--Compte le nombre de in progress -->
<% icours = 0 %>
<% @rentals.each do |rental| %>
<% if ((Date.parse(rental.start_date.to_s).to_time.to_i - Time.now.to_i) < 0) &&
       ((Date.parse(rental.end_date.to_s).to_time.to_i - Time.now.to_i) > 0)  %>
<% icours += 1 %>
<% end %>
<% end %>

<!--Compte le nombre de My reservations -->
<% ireservations = 0 %>
<% @rentals.each do |rental| %>
<% if (Date.parse(rental.start_date.to_s).to_time.to_i - Time.now.to_i) > 0 %>
<% ireservations += 1 %>
<% end %>
<% end %>

<!--Compte le nombre de My past reservations -->
<% ipastreservations = 0 %>
<% @rentals.each do |rental| %>
<% if (Date.parse(rental.start_date.to_s).to_time.to_i - Time.now.to_i) < 0 %>
<% ipastreservations += 1 %>
<% end %>
<% end %>

<%= render "shared/navbar" %>

<section class="header-wrapper jumbotron text-center py-3 mt-4">
  <div class="container">
    <h1 class="jumbotron-heading mt-4">My Dashboard</h1>
    <p class="lead text-muted mb-4">Find all the information concerning your reservations below.</p>
    <p>
      <a href="/beasts/new" class="btn btn-primary my-2">Add a beast to rent</a>
      <a href="/" class="btn btn-secondary my-2">Go back to airbnbeast</a>
    </p>
  </div>
</section>

<hr class="col-6 offset-3 mb-5">

<div class="container w-100 my-5 py-4">
  <div class="cards-wrapper d-flex justify-content-around">

    <div class="card-box p-5 col-5">
      <div class="d-flex justify-content-between align-items-center border-bottom pb-2">
        <h2>Your beasts</h2>
        <%= link_to new_beast_path do %>
        <i class="fa-solid fa-plus"></i>
        <% end %>
      </div>
      <p class="pt-2">You have <strong><%= @user.beasts.length %></strong> beasts in your dashboard</p>
      <div class="d-flex flex-column scrollable-card">
        <% @user.beasts.each do |beast| %>
          <%= link_to beast_path(beast) do %>
            <div class="card-product">
              <%= cl_image_tag beast.photos.first.key %>
              <div class="card-product-infos d-flex">
                <h2><%= beast.name %></h2>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="right-content card-box p-5 d-flex flex-column col-6">
      <h2 class="border-bottom pb-2">Your reservations</h2>

      <div class="wrapper-top my-4">

        <div class="wrapper-top d-flex align-items-center">
          <div id="signal-top"></div>
          <h5 class="ms-3">In progress :</h5>
        </div>

        <p class="pt-2">You have <strong><%= icours  %></strong> reservations in progress</p>
          <% @rentals.each do |rental| %>
            <%= link_to beast_path(rental.beast) do %>
              <% if ((Date.parse(rental.start_date.to_s).to_time.to_i - Time.now.to_i) < 0) && ((Date.parse(rental.end_date.to_s).to_time.to_i - Time.now.to_i) > 0)  %>
                <div class="card-product">
                  <%= cl_image_tag rental.beast&.photos&.first&.key, class: "img-placeholder-dashboard", style: "background-image", crop: :fill %>
                  <div class="card-infos ms-4 py-4 d-flex justify-content-between flex-column">
                    <div class="middle-card">
                      <p>Name: <%= rental.beast.name %></p>
                      <p>Rentals from: <%=rental.start_date %> To: <%=rental.end_date %> </p>
                      <p>Location: <%= rental.beast.user.address %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
      </div>

      <div class="middle-wrapper my-4">

        <div class="wrapper-top d-flex align-items-center">
          <div id="signal-middle"></div>
          <h5 class="ms-3">Current :</h5>
        </div>

        <p class="pt-2">You have <strong><%= ireservations  %></strong> reservations</p>
        <% @rentals.each do |rental| %>
          <%= link_to beast_path(rental.beast) do %>
            <% if (Date.parse(rental.start_date.to_s).to_time.to_i - Time.now.to_i) > 0 %>
            <div class="card-product">
              <%= cl_image_tag rental.beast&.photos&.first&.key, class: "img-placeholder-dashboard", style: "background-image", crop: :fill %>
              <div class="card-infos ms-4 py-4 d-flex justify-content-between flex-column">
                <div class="middle-card">
                  <p>Name: <%= rental.beast.name %></p>
                  <p>Rentals from: <%=rental.start_date %> To: <%=rental.end_date %> </p>
                  <p>Location: <%= rental.beast.user.address %></p>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="bottom-wrapper my-4">

        <div class="wrapper-top d-flex align-items-center">
          <div id="signal-bottom"></div>
          <h5 class="ms-3">Past :</h5>
        </div>

        <p class="pt-2">You have <strong><%= ipastreservations  %></strong> reservations passed</p>
        <% @rentals.each do |rental| %>
          <%= link_to beast_path(rental.beast) do %>
            <% if (Date.parse(rental.start_date.to_s).to_time.to_i - Time.now.to_i) < 0 %>
              <div class="card-product">
                <%= cl_image_tag rental.beast&.photos&.first&.key, class: "img-placeholder-dashboard", style: "background-image", crop: :fill %>
                <div class="card-infos ms-4 py-4 d-flex justify-content-between flex-column">
                  <div class="middle-card">
                    <p>Name: <%= rental.beast.name %></p>
                    <p>Rentals from: <%=rental.start_date %> To: <%=rental.end_date %> </p>
                    <p>Location: <%= rental.beast.user.address %></p>
                  </div>
                </div>
              </div>
              <div>
            <% end %>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>
