<h1>My reservations</h1>

<% @rentals.each do |rental| %>
  <div class="beast-card card my-4 d-flex flex-row">
    <%= cl_image_tag rental.beast.photos.first.key, class: "img-placeholder", style: "background-image"  ,height: 200, width: 300, crop: :fill %>
    <div class="card-infos ms-4 d-flex justify-content-between flex-column">
      <div class="top-card">
        <h6><%= rental.beast.species %></h6>
        <h3><%= rental.beast.bio %></h3>
      </div>

      <div class="middle-card">
        <p>Name: <%= rental.beast.name %></p>
        <p>Rentals from: <%=rental.start_date %> To: <%=rental.end_date %> </p>
        <p>Location: <%= rental.beast.user.address %></p>
      </div>

      <div class="reviews d-flex align-items-center">
        <i class="fa-solid fa-star"></i>
        <p class="review mx-2 py-2 my-0">
          <span class="note">4.88</span> • (34 reviews)
        </p>
      </div>

    </div>
  </div>
<% end %>
